/* body {
  margin: 0;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
}

.label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
  list-style-type: none;
}

li button {
  border-radius: 15px;
  box-shadow: 5px;
  background-color: rgb(100, 100, 105);
  color: rgb(14, 14, 117);
  list-style-type: none;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(55, 77, 224);
}

.active {
  background-color: #04AA6D;
}


.SignupPage,
.LoginPage,
.ShowQuiz,
.CreateQuiz
 {
  background-color: #557987;
}

/* .easybtn {
  border-radius: 15px;
  box-shadow: 5px;
  background-color: rgb(172, 172, 183);
  color: rgb(14, 14, 117);
  list-style-type: none;
  text-align: center;
  padding: 12x 10px;
  text-decoration: none;
} */

/* .mediumbtn {
  border-radius: 15px;
  box-shadow: 5px;
  background-color: rgb(172, 172, 183);
  color: rgb(14, 14, 117);
  list-style-type: none;
  text-align: center;
  padding: 12x 10px;
  text-decoration: none;
} */

/* .hardbtn {
  border-radius: 15px;
  box-shadow: 5px;
  background-color: rgb(172, 172, 183);
  color: rgb(14, 14, 117);
  list-style-type: none;
  text-align: center;
  padding: 12x 10px;
  text-decoration: none;
} */

/* .easybtn {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.easybtn:hover  {background-color: #3e8e41}

.easybtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.mediumbtn {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #d1d12c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.mediumbtn:hover  {background-color: #d0d084}

.mediumbtn:active {
  background-color: #d0d084;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.hardbtn {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #950202;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.hardbtn:hover  {background-color: #c30707}

.hardbtn:active {
  background-color: #c30707;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}  */